body {
    width: 80%;
    margin: 0 auto;
}
.header {

}
.header ul {
    margin: 0;
    padding: 0;

}
.header ul li {
    display: inline-block;
    padding: 10px 20px;
    
}
.header ul li a {
    
}

.content {

}

.left_sidebar {
    width: 30%;
    float: left;
}

.right_content {
    width: 65%;
    margin-left: 5%;
    float: right;
    text-align: justify;
}

.footer {
    clear: both;
    background: salmon;
    color: white;
    padding: 20px;
    text-align: center;
}

